<!-- <div class="back img-fluid img-thumbnail text-center" style="width: 100%; height:645px;"> -->
    <!-- <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/image/logo.svg" width="50" height="50" alt="">
        </a>
    </nav> -->
    <!-- <div class="d-flex justify-content-center mr-5">
        <div style="margin-top: 15%;">
            <p style="color: 1b1b1b; font-size: xx-large;" class="pr-3">PEST ZONE<br>
                Pest Control</p>
            <div class="mt-5">
            </div>
        </div>
    </div> -->
<!-- </div> -->
<div class="d-flex justify-content-center my-3">
    <img src="../../../assets/image/logotest.jpg" alt="">
</div>
<hr style="margin-top: 0px;background-color: black!important;  ">


<div class="container py-5">
    <div class="d-flex justify-content-center">
        <h2 style="color: #1b1b1b;">Our Pest Solution</h2>
    </div>
    <div class="row">
        <div class="col-sm-4 px-4 py-3" *ngFor="let data of cardData">
            <div class="card  shadow px-1 py-1" style="background-color: #1b1b1b;color: #C0C0C0; height:400px;">
                <div class="card-header">
                    <h4>{{data.name}}</h4>
                </div>
                <div class="card-body">

                    <p class="card-text pt-1">{{data.details}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid my-5 " style="background-color: #1b1b1b;color: #C0C0C0;">
    <div>
        <div class="d-flex justify-content-center py-3">
            <h3>How <span class="px-2" style="color: #1b1b1b;background-color: #C0C0C0;"> PEST ZONE</span> Works?</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center py-5">
                <div class="card" style="background-color: #C0C0C0;color: #1b1b1b;height: auto; width: 300px;">
                    <div class="card-body">
                        <div class=" d-flex justify-content-center" style="background-color: #C0C0C0; border: 0px;">
                            <h4>Call</h4>
                        </div>
                        <div class=" d-flex justify-content-center">
                            Select the date and time you’d like your professional to show up.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center py-5">
                <div class="card" style="background-color: #C0C0C0;color: #1b1b1b;height: auto; width: 300px;">
                    <div class="card-body">
                        <div class=" d-flex justify-content-center" style="background-color: #C0C0C0; border: 0px;">
                            <h4>Services</h4>
                        </div>
                        <div class=" d-flex justify-content-center">
                            Our trusted personnel comes over, inspects and gets solution for your issue
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center py-5">
                <div class="card" style="background-color: #C0C0C0;color: #1b1b1b;height: auto; width: 300px;">
                    <div class="card-body">
                        <div class=" d-flex justify-content-center" style="background-color: #C0C0C0; border: 0px;">
                            <h4>Relax</h4>
                        </div>
                        <div class=" d-flex justify-content-center">
                            Sit back and relax. Enjoy your clean and pest free home!
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>




<!-- footer -->
<div class="container-fluid" style="background-color: #1b1b1b; color: #C0C0C0;">
<div class="row py-3">
    <div class="col-sm d-flex justify-content-center"><i class="bi bi-telephone"></i>&nbsp;Contact:+91-9819833383</div>
    <div class="col-sm d-flex justify-content-center"><i class="bi bi-envelope"></i>&nbsp;Email:santoshkadam1916@gmail.com</div>
</div>
</div>






<div>
    <div class="fixed-bottom">
        <a href="tel:+919819833383">
            <div class="call">
                <div class="card text-white px-2 pt-2"
                    style="background-color: #1b1b1b; color: #C0C0C0; width: 115px;height:50px;">
                    <h4>CALL&nbsp;<i class="bi bi-telephone"></i></h4>
                </div>
            </div>
        </a>
    </div>

</div>